.imgEmblem {
  height: 100px;
  margin: 0 5% 0 0;
}

form {
  position: absolute;
  top: 8%;
  left: 20%;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-align: justify;
  background-color: rgb(250, 187, 51);
  color: rgb(70, 69, 69);
  height: 50px;
  font-size: 26px;
  font-weight: 500;
}

p {
  font-size: 15px;
}

@media screen and (min-width: 600px) {
  p {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  p {
    font-size: 24px;
  }
}

.cityName {
  display: inline-flex;
  text-align: center;
}

.temperatura {
  margin-left: 19%;
  line-height: 30px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 70px;
  padding-top: 20px;
}

.degrees {
  position: relative;
  top: -10px;
  font-size: 40px;
  padding-top: 20px;
  margin-right: 20%;
}

.week {
  padding: 30px 5% 15px;
}

.days {
  height: 200px;
  border: 1px solid gray;
  border-radius: 7px;
  text-align: center;
  margin: 10px;
  padding: 20px auto;
  font-size: 24px;
  line-height: 40px;
}

.cityToday {
  display: inline-flex;
  line-height: 30px;
  margin-left: 50px;
}

.moje {
  font-size: 36px;
  background-color: rgb(231, 231, 231);
  padding: 5px;
}

.weatherForecastTemp-Min {
  opacity: 0.5;
}